body {
    background-color: #e3d8cf;
    color: #252525;
}

/* HEADER */
.logo-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.logo-header img {
    width: 200px
}

/* HEADER */

/* FIT COLOR GUIDE */
.ui-fit_guide {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    left: 5%;
    width: 100px;
    display: flex;
}

.ui-fit_guide .fit_guide-tube {
    display: block;
    width: 10px;
    height: 350px;
    background: linear-gradient(to bottom, #50ff40, #33e9ce, #fdff18, #d97f12, #d72618);
    border-radius: 5px;
    /* box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2); */
}

.ui-fit_guide .fit_guide-indicator {
    margin: 10px 0;
    display: block;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.ui-fit_guide a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #252525;
}

.ui-fit_guide.show {
    opacity: 1;
    z-index: 1;
}

/* FIT COLOR GUIDE */

/* MAIN STAGE VIDEO */
.ui-main_stage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.ui-main_stage .ui-main_stage-video_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 25px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    min-height: 85vh;
    position: relative;
    width: 60%;
}

.ui-main_stage .ui-main_stage-video_container video {
    max-width: none;
    height: 100%;
    position: absolute;
    opacity: 0
}

.ui-main_stage .ui-main_stage-video_container video:first-child {
    opacity: 1
}

.ui-main_stage .ui-main_stage-video_container.hide {
    opacity: 0;
    pointer-events: none;
}

.ui-main_stage .ui-main_stage-spin {
    position: absolute;
    bottom: 0;
    display: block;
    background: #252525;
    border-radius: 5px;
    padding: 0.3rem 0.8rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 999;
}

.ui-main_stage .ui-main_stage-spin:hover {
    transform: translateY(30px) scale(.99);
}

.fade-in {
    opacity: 0;
}

.fade-in.show {
    opacity: 1;
    pointer-events: auto;
}

/* MAIN STAGE VIDEO */

/* SIDEBAR */
.ui-sidebar {
    position: absolute;
    width: 25%;
    right: 10%;
    top: 0;
    z-index: 100
}

.ui-sidebar .ui-sidebar-size_widget {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ui-sidebar .ui-sidebar-size_widget .widget-size_item_container {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.ui-sidebar .ui-sidebar-size_widget .widget-size_item {
    width: 20%;
    margin: 10px 5px 0 5px;
}


.ui-sidebar .ui-sidebar-size_widget .widget-size_item a {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
    letter-spacing: 1px;
    border: 2px solid #252525;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(129 118 98 / 50%);
    margin-bottom: 2rem;
    color: #3a3a3a;
    width: 100%;
    background: #fff;
}


.ui-sidebar .ui-sidebar-size_widget .widget-size_item a.active-size {
    background-color: #252525;
    color: #fff;
    box-shadow: 0 0 0px rgb(129 118 98 / 0);
    /* transform: translateY(5px) scale(.99); */
}

.ui-sidebar .ui-sidebar-size_widget .widget-size_item a span {
    font-weight: 500;
    font-size: 1.2rem;
}

.ui-sidebar .ui-sidebar-size_widget .widget-size_item a:hover {
    /* border: 3px solid #636363; */
    background-color: #252525;
    color: #fff;
    box-shadow: 0 0 0px rgb(129 118 98 / 0);
    transform: translateY(5px) scale(.99);
}


.ui-sidebar .ui-sidebar-size_widget .widget-size_item.no_stock a {
    opacity: .3;
    cursor: default;
}

.ui-sidebar .ui-sidebar-size_widget .widget-size_item.no_stock a:hover {
    /* border: 2px solid #252525!important;
    box-shadow: 0 0 10px rgb(129 118 98 / 50%)!important;
    color: #3a3a3a!important; */
    transform: translateY(0) scale(1);
}


.ui-sidebar .ui-sidebar-size_widget .widget-choose_size {
    width: 70%;
}

.ui-sidebar .ui-sidebar-size_widget .widget-choose_size a {
    color: #000;
    font-size: 0.8rem;
    text-decoration: none;
    background: #ff7bbb;
    border-radius: 25px;
    padding: .8rem .5rem;
    font-weight: 500;
    display: block;
    margin-top: 1rem;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /* border: 2px solid transparent; */
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgb(129 118 98 / 50%);
}


.ui-sidebar .ui-sidebar-size_widget .widget-choose_size a:hover {
    /* border: 2px solid #fffaf0; */
    box-shadow: 0 0 0px rgb(129 118 98 / 0);
    transform: translateY(5px);
}

/* SIDEBAR */

/* RELATED WIDGET */
.widget-related {
    margin-top: 5rem;
}

.widget-related h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem
}

.widget-related .owl-carousel .owl-item img {
    width: 200px;
}

/* RELATED WIDGET */

/* COLOR WIDGET */
.widget-choose_color {
    margin: 1rem 0;
}

.widget-choose_color h5 {
    text-align: center;
    margin-bottom: 1rem;
}

.widget-choose_color ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
}

.widget-choose_color ul li {
    margin: 0 5px;
}

.widget-choose_color ul li a {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 50%;
    border: 3px solid transparent;
    overflow: hidden;
}

.widget-choose_color ul li span {
    display: block;
    width: 35px;
    height: 35px;
}

.widget-choose_color ul li:nth-child(1) span {
    background-color: #ffffff;
}

.widget-choose_color ul li:nth-child(2) span {
    background-color: #2a9d8f;
}

.widget-choose_color ul li:nth-child(3) span {
    background-color: #d62828;
}

.widget-choose_color ul li:nth-child(4) span {
    background-color: #b5e2fa;
}

.widget-choose_color ul li:nth-child(5) span {
    background-color: #3a0ca3;
}

.widget-choose_color ul li:nth-child(6) span {
    background-color: #fcf6bd;
}

.widget-choose_color ul li:nth-child(7) span {
    background-color: #d88c9a;
}

.widget-choose_color ul li.active a {
    border-color: #252525;
}

.widget-choose_color ul li.color_no_stock span {
    opacity: .2;
}

.widget-choose_color ul li.color_no_stock span:after {
    content: '';
    width: 100px;
    height: 2px;
    background: red;
}

.widget-choose_color ul li:not(.color_no_stock):not(.active) a:hover {
    transform: scale(.8);
    filter: none;
    border: 3px solid;
    border-color: #252525;
}


/* COLOR WIDGET */

/* UI FIT MODAL */
.ui-fit_modal {
    background: #fff;
    position: absolute;
    z-index: 1;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    left: 12%;
    width: 25%;
    opacity: 0;
    z-index: 100;
}

.ui-fit_modal p:first-child {
    text-align: center;
}

.ui-fit_modal p:last-child {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.ui-fit_modal div {
    display: flex;
}

.ui-fit_modal a {
    text-decoration: none;
    display: block;
    margin-top: 0.5rem;
    text-align: center;
    color: #3a3a3a;
    font-weight: 500;
}

.ui-fit_modal div img {
    max-width: 100%;
}

.ui-fit_modal-related a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.ui-fit_modal-related a:hover {
    transform: scale(.9)
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


/* UI FIT MODAL */


/* EXPERIMENTAL */

/* EXPERIMENTAL */